<!-- displays an error -->
{{ define "content" }}
  <article class="text-center mb-0">
    <svg class="icon-xl" role="presentation" style="margin: var(--pico-typography-spacing-vertical)">
      <use href="assets/tabler-icons.svg#sad"></use>
    </svg>
    <hgroup>
      <h3>Oh no...</h3>
      <p>{{ .Error }}</p>
    </hgroup>
    <a href="..">← Try something else</a>
  </article>
{{ end }}
